#### Dimensionando os estabelecimentos do SUS 
#### Análise da rede hospitalar disponível para fazer frente ao COVID-19

In [1]:
import os
print(os.getcwd())

C:\Users\Rosangela\Documents\datasus_dez_2019\covid_sus_dez2019

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
investe_sus = pd.read_csv('investimentos-sus-2012-2017.csv', sep=';',encoding='utf-8', quotechar='"')
investe_sus

,nome,vlTotal,vlDesconto,vlLiquido,ANO,MUNICIPIO
0,ASSISTÊNCIA FARMACÊUTICA,1.242054e+05,0.00,1.242054e+05,2012,110001
1,ATENÇÃO BÁSICA,2.572118e+06,0.00,2.572118e+06,2012,110001
2,INVESTIMENTO,6.000000e+04,0.00,6.000000e+04,2012,110001
3,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,2.013078e+06,960.00,2.012118e+06,2012,110001
4,VIGILÂNCIA EM SAÚDE,2.467112e+05,0.00,2.467112e+05,2012,110001
5,ASSISTÊNCIA FARMACÊUTICA,4.362592e+05,0.00,4.362592e+05,2012,110002
6,ATENÇÃO BÁSICA,5.353521e+06,0.00,5.353521e+06,2012,110002
7,GESTÃO DO SUS,1.015586e+05,0.00,1.015586e+05,2012,110002
8,INVESTIMENTO,3.751472e+05,0.00,3.751472e+05,2012,110002
9,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,8.156620e+06,78382.53,8.078238e+06,2012,110002
10,VIGILÂNCIA EM SAÚDE,1.035411e+06,0.00,1.035411e+06,2012,110002
11,ASSISTÊNCIA FARMACÊUTICA,3.414456e+04,0.00,3.414456e+04,2012,110003
12,ATENÇÃO BÁSICA,9.567710e+05,0.00,9.567710e+05,2012,110003
13,INVESTIMENTO,3.600000e+04,0.00,3.600000e+04,2012,110003
14,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,1.424328e+05,480.00,1.419528e+05,2012,110003
15,VIGILÂNCIA EM SAÚDE,1.013606e+05,0.00,1.013606e+05,2012,110003
16,ASSISTÊNCIA FARMACÊUTICA,4.012426e+05,0.00,4.012426e+05,2012,110004
17,ATENÇÃO BÁSICA,4.835651e+06,0.00,4.835651e+06,2012,110004
18,INVESTIMENTO,2.872210e+05,0.00,2.872210e+05,2012,110004
19,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,9.020602e+06,265812.17,8.754790e+06,2012,110004
20,VIGILÂNCIA EM SAÚDE,8.546242e+05,0.00,8.546242e+05,2012,110004
21,ASSISTÊNCIA FARMACÊUTICA,8.477220e+04,0.00,8.477220e+04,2012,110005
22,ATENÇÃO BÁSICA,1.410470e+06,0.00,1.410470e+06,2012,110005
23,INVESTIMENTO,1.060000e+05,0.00,1.060000e+05,2012,110005
24,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,1.676381e+06,960.00,1.675421e+06,2012,110005
25,VIGILÂNCIA EM SAÚDE,1.293851e+05,0.00,1.293851e+05,2012,110005
26,ASSISTÊNCIA FARMACÊUTICA,9.089220e+04,0.00,9.089220e+04,2012,110006
27,ATENÇÃO BÁSICA,1.559398e+06,0.00,1.559398e+06,2012,110006
28,INVESTIMENTO,2.973000e+04,0.00,2.973000e+04,2012,110006
29,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,1.178886e+06,960.00,1.177926e+06,2012,110006
...,...,...,...,...,...,...
148868,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,1.583091e+07,26368.11,1.580455e+07,2017,522185
148869,VIGILÂNCIA EM SAÚDE,1.409614e+06,0.00,1.409614e+06,2017,522185
148870,ASSISTÊNCIA FARMACÊUTICA,2.008652e+04,0.00,2.008652e+04,2017,522190
148871,ATENÇÃO BÁSICA,5.241208e+05,0.00,5.241208e+05,2017,522190
148872,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,1.247041e+05,0.00,1.247041e+05,2017,522190
148873,VIGILÂNCIA EM SAÚDE,6.471983e+04,0.00,6.471983e+04,2017,522190
148874,ASSISTÊNCIA FARMACÊUTICA,6.886008e+04,0.00,6.886008e+04,2017,522200
148875,ATENÇÃO BÁSICA,2.062586e+06,0.00,2.062586e+06,2017,522200
148876,INVESTIMENTO,2.998800e+05,0.00,2.998800e+05,2017,522200
148877,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,5.843159e+05,0.00,5.843159e+05,2017,522200
148878,VIGILÂNCIA EM SAÚDE,1.237289e+05,0.00,1.237289e+05,2017,522200
148879,ASSISTÊNCIA FARMACÊUTICA,4.083036e+04,0.00,4.083036e+04,2017,522205
148880,ATENÇÃO BÁSICA,1.086990e+06,0.00,1.086990e+06,2017,522205
148881,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,3.768186e+05,0.00,3.768186e+05,2017,522205
148882,VIGILÂNCIA EM SAÚDE,1.105332e+05,0.00,1.105332e+05,2017,522205
148883,ASSISTÊNCIA FARMACÊUTICA,4.492376e+04,0.00,4.492376e+04,2017,522220
148884,ATENÇÃO BÁSICA,7.554082e+05,0.00,7.554082e+05,2017,522220
148885,INVESTIMENTO,1.161180e+05,0.00,1.161180e+05,2017,522220
148886,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,3.482567e+05,1760.00,3.464967e+05,2017,522220
148887,VIGILÂNCIA EM SAÚDE,1.163064e+05,0.00,1.163064e+05,2017,522220
148888,ASSISTÊNCIA FARMACÊUTICA,2.870176e+04,0.00,2.870176e+04,2017,522230
148889,ATENÇÃO BÁSICA,8.106545e+05,0.00,8.106545e+05,2017,522230
148890,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,1.742704e+05,1760.00,1.725104e+05,2017,522230
148891,VIGILÂNCIA EM SAÚDE,9.966393e+04,0.00,9.966393e+04,2017,522230
148892,ASSISTÊNCIA FARMACÊUTICA,2.356722e+07,0.00,2.356722e+07,2017,530010
148893,ATENÇÃO BÁSICA,1.038140e+08,0.00,1.038140e+08,2017,530010
148894,GESTÃO DO SUS,5.548000e+05,0.00,5.548000e+05,2017,530010
148895,INVESTIMENTO,5.485384e+06,0.00,5.485384e+06,2017,530010
148896,MÉDIA E ALTA COMPLEXIDADE AMBULATORIAL E HOSPI...,5.472524e+08,26977875.07,5.202745e+08,2017,530010
148897,VIGILÂNCIA EM SAÚDE,2.315643e+07,0.00,2.315643e+07,2017,530010

In [4]:
# carregando os dados referentes ao Brasil, seus municípios, estados, regiões, população, referente aos últimos 20 anos.
brasil = pd.read_csv('brazil-population-1998-2017.csv', sep=';', encoding='utf8')
brasil.head()

,code,city,state,abbreviation,region,lat,long,year,population
0,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2014,25652
1,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2015,25578
2,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2011,24228
3,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2009,24354
4,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.9283,-61.9953,2006,29005

In [5]:
brasil17 = brasil[brasil['year'] == 2017]
brasil17.head()

,code,city,state,abbreviation,region,lat,long,year,population
15,110001,Alta Floresta D'Oeste,Rondônia,RO,NORTE,-11.92830,-61.9953,2017,25437
36,110002,Ariquemes,Rondônia,RO,NORTE,-9.90571,-63.0325,2017,107345
48,110003,Cabixi,Rondônia,RO,NORTE,-13.49450,-60.5520,2017,6224
76,110004,Cacoal,Rondônia,RO,NORTE,-11.43430,-61.4562,2017,88507
89,110005,Cerejeiras,Rondônia,RO,NORTE,-13.18700,-60.8168,2017,17934

In [6]:
brasil17['population'].sum()

207660929

In [7]:
import csv
arquivo = open('tbEstabelecimento201809.csv', encoding='utf8')
leitor = csv.reader(arquivo)
print(next(leitor))

['CO_UNIDADE;"CO_CNES";"NU_CNPJ_MANTENEDORA";"TP_PFPJ";"NIVEL_DEP";"NO_RAZAO_SOCIAL";"NO_FANTASIA";"NO_LOGRADOURO";"NU_ENDERECO";"NO_COMPLEMENTO";"NO_BAIRRO";"CO_CEP";"CO_REGIAO_SAUDE";"CO_MICRO_REGIAO";"CO_DISTRITO_SANITARIO";"CO_DISTRITO_ADMINISTRATIVO";"NU_TELEFONE";"NU_FAX";"NO_EMAIL";"NU_CPF";"NU_CNPJ";"CO_ATIVIDADE";"CO_CLIENTELA";"NU_ALVARA";"DT_EXPEDICAO";"TP_ORGAO_EXPEDIDOR";"DT_VAL_LIC_SANI";"TP_LIC_SANI";"TP_UNIDADE";"CO_TURNO_ATENDIMENTO";"CO_ESTADO_GESTOR";"CO_MUNICIPIO_GESTOR";"TO_CHAR(DT_ATUALIZACAO', '\'DD/MM/YYYY\')";"CO_USUARIO";"CO_CPFDIRETORCLN";"REG_DIRETORCLN";"ST_ADESAO_FILANTROP";"CO_MOTIVO_DESAB";"NO_URL";"NU_LATITUDE";"NU_LONGITUDE";"TO_CHAR(DT_ATU_GEO', '\'DD/MM/YYYY\')";"NO_USUARIO_GEO";"CO_NATUREZA_JUR";"TP_ESTAB_SEMPRE_ABERTO";"ST_GERACREDITO_GERENTE_SGIF";"ST_CONEXAO_INTERNET";"CO_TIPO_UNIDADE";"NO_FANTASIA_ABREV";"TP_GESTAO";"TO_CHAR(DT_ATUALIZACAO_ORIGEM', '\'DD/MM/YYYY\')"']

In [8]:
redesus = pd.read_csv('tbEstabelecimento201809.csv', sep=';', encoding='utf8', low_memory=False, error_bad_lines=False, 
                      usecols=['CO_UNIDADE', 'CO_CNES','CO_ATIVIDADE', 'CO_MUNICIPIO_GESTOR', 'TP_ESTAB_SEMPRE_ABERTO'])
redesus.head()

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,CO_MUNICIPIO_GESTOR,TP_ESTAB_SEMPRE_ABERTO
0,2928707453280,7453280,4,292870,NaN
1,2301307450184,7450184,4,230130,N
2,2307307462956,7462956,4,230730,N
3,2313407462476,7462476,4,231340,N
4,2510107416490,7416490,4,251010,N

In [9]:
type('CO_CNES')

str

In [10]:
redesus.rename(columns={'CO_MUNICIPIO_GESTOR': 'code'}, inplace=True)

In [11]:
redesus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364701 entries, 0 to 364700
Data columns (total 5 columns):
CO_UNIDADE                364701 non-null object
CO_CNES                   364701 non-null int64
CO_ATIVIDADE              364701 non-null int64
code                      364701 non-null int64
TP_ESTAB_SEMPRE_ABERTO    198787 non-null object
dtypes: int64(3), object(2)
memory usage: 13.9+ MB

#### redesus['CO_CNES'].duplicated()  False não há valores duplicados,cada código de CNES é único

In [12]:
redesus.isnull().sum()

CO_UNIDADE                     0
CO_CNES                        0
CO_ATIVIDADE                   0
code                           0
TP_ESTAB_SEMPRE_ABERTO    165914
dtype: int64

In [13]:
redesus['CO_CNES'].count()

364701

#### A rede SUS tem 364.701 mil unidades de saúde Brasil afora.

In [14]:
redesus['TP_ESTAB_SEMPRE_ABERTO'].value_counts()

N    182893
S     15894
Name: TP_ESTAB_SEMPRE_ABERTO, dtype: int64

#### A unidades estabelecimentos sempre abertos, os prontos-socorros que funcionam 24 horas por dia é bem menor 15.894.
##### Da rede SUS 50.581 são unidades básicas de saúde, a porta de entrada no sistema. Policlinicas, hospitais gerais e especializados e pronto-socorros somam 16.984 estabelecimentos

In [15]:
15894

15894

In [16]:
pronto_atendimento = redesus[redesus['TP_ESTAB_SEMPRE_ABERTO'] == 'S']
pronto_atendimento.head()

        CO_UNIDADE  CO_CNES  CO_ATIVIDADE    code TP_ESTAB_SEMPRE_ABERTO
133  5008305230829  5230829             4  500830                      S
170  3105607457782  7457782             4  310560                      S
251  3303307383851  7383851             4  330330                      S
252  3303307384920  7384920             4  330330                      S
256  1302607389507  7389507             4  130260                      S

In [20]:
#mapa das cidades com pronto-socorros 24 horas

df_rede_brasil = pronto_atendimento.join(brasil17.set_index('code'), on='code')
df_rede_brasil.head(2)

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population
133,5008305230829,5230829,4,500830,S,Três Lagoas,Mato Grosso do Sul,MS,CENTRO OESTE,-20.7849,-51.7007,2017,117477
170,3105607457782,7457782,4,310560,S,Barbacena,Minas Gerais,MG,SUDESTE,-21.2214,-43.7703,2017,136689

In [21]:
df_rede_brasil['TP_ESTAB_SEMPRE_ABERTO'].str.replace('S', '1').head().copy()

133    1
170    1
251    1
252    1
256    1
Name: TP_ESTAB_SEMPRE_ABERTO, dtype: object

In [22]:
df_rede_brasil.groupby('region')['TP_ESTAB_SEMPRE_ABERTO'].count()

region
CENTRO OESTE    1570
NORDESTE        3829
NORTE           1621
SUDESTE         5956
SUL             2918
Name: TP_ESTAB_SEMPRE_ABERTO, dtype: int64

In [23]:
#Distribuição por município dos PS 24 horas
pronto = df_rede_brasil.groupby('state')['TP_ESTAB_SEMPRE_ABERTO'].value_counts()
pronto

state                TP_ESTAB_SEMPRE_ABERTO
Acre                 S                           74
Alagoas              S                          169
Amapá                S                           44
Amazonas             S                          391
Bahia                S                         1073
Ceará                S                          554
Distrito Federal     S                          180
Espírito Santo       S                          505
Goiás                S                          621
Maranhão             S                          415
Mato Grosso          S                          393
Mato Grosso do Sul   S                          376
Minas Gerais         S                         1461
Paraná               S                         1023
Paraíba              S                          362
Pará                 S                          649
Pernambuco           S                          472
Piauí                S                          223
Rio Grande do Norte  S                          314
Rio Grande do Sul    S                         1229
Rio de Janeiro       S                         1074
Rondônia             S                          187
Roraima              S                          154
Santa Catarina       S                          666
Sergipe              S                          247
São Paulo            S                         2916
Tocantins            S                          122
Name: TP_ESTAB_SEMPRE_ABERTO, dtype: int64

In [24]:
pronto.to_csv('pronto_socorro.csv', header=True)

In [25]:
pronto_socorro = df_rede_brasil.groupby('region')['TP_ESTAB_SEMPRE_ABERTO'].value_counts()
pronto_socorro

region        TP_ESTAB_SEMPRE_ABERTO
CENTRO OESTE  S                         1570
NORDESTE      S                         3829
NORTE         S                         1621
SUDESTE       S                         5956
SUL           S                         2918
Name: TP_ESTAB_SEMPRE_ABERTO, dtype: int64

In [26]:
pronto_socorro.to_csv('ps_regiao.csv', header=True)

In [27]:
df_rede_brasil['CO_ATIVIDADE'].value_counts()

4    15267
3      447
5      123
1       40
2       17
Name: CO_ATIVIDADE, dtype: int64

In [28]:
df = pd.read_csv('cod_atividade.csv', sep=',',encoding='Latin-1')
df

    cod_unidades                                          descricao   total
0              1                                     POSTO DE SAUDE   11328
1              2                     CENTRO DE SAUDE/UNIDADE BASICA   39253
2              4                                        POLICLINICA    8770
3              5                                     HOSPITAL GERAL    5795
4              7                             HOSPITAL ESPECIALIZADO    1245
5             15                                      UNIDADE MISTA     703
6             20                               PRONTO SOCORRO GERAL     344
7             21                       PRONTO SOCORRO ESPECIALIZADO     127
8             22                                CONSULTORIO ISOLADO  180265
9             32                              UNIDADE MOVEL FLUVIAL      63
10            36                    CLINICA/CENTRO DE ESPECIALIDADE   55028
11            39  UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOL...   27822
12            40                            UNIDADE MOVEL TERRESTRE    1497
13            42  UNIDADE MOVEL DE NIVEL PRE-HOSPITALAR NA AREA ...    4769
14            43                                           FARMACIA    3573
15            50                     UNIDADE DE VIGILANCIA EM SAUDE    3048
16            60  COOPERATIVA OU EMPRESA DE CESSAO DE TRABALHADO...     695
17            61                   CENTRO DE PARTO NORMAL  ISOLADO      33
18            62                             HOSPITAL/DIA  ISOLADO     647
19            67        LABORATORIO CENTRAL DE SAUDE PUBLICA LACEN       33
20            68                         CENTRAL DE GESTAO EM SAUDE    6145
21            69    CENTRO DE ATENCAO HEMOTERAPIA E OU HEMATOLOGICA     409
22            70                     CENTRO DE ATENCAO PSICOSSOCIAL    3100
23            71                 CENTRO DE APOIO A SAUDE DA FAMILIA    3100
24            72                UNIDADE DE ATENCAO A SAUDE INDIGENA    1148
25            73                                 PRONTO ATENDIMENTO    1284
26            74                             POLO ACADEMIA DA SAUDE    2635
27            75                                         TELESSAUDE      89
28            76          CENTRAL DE REGULACAO MEDICA DAS URGENCIAS     238
29            77   SERVICO DE ATENCAO DOMICILIAR ISOLADO(HOME CARE)      39
30            78           UNIDADE DE ATENCAO EM REGIME RESIDENCIAL      39
31            79                                 OFICINA ORTOPEDICA      31
32            80                       LABORATORIO DE SAUDE PUBLICA     447
33            81                     CENTRAL DE REGULACAO DO ACESSO    1304
34            82  CENTRAL DE NOTIFICACAO,CAPTACAO E DISTRIB DE O...     139
35            83  POLO DE PREVENCAO DE DOENCAS E AGRAVOS E PROMO...     373

In [29]:
df['descricao'].count()

36

In [30]:
df.rename(columns={'cod_unidades': 'CO_ATIVIDADE'}, inplace=True)

In [31]:
df['total'].sum()

365558

In [32]:
11328 + 39253

50581

In [33]:
8770 + 5795 + 1245 + 703+ 344 + 127

16984

In [34]:
df_new = df_rede_brasil.join(df.set_index('CO_ATIVIDADE'), on='CO_ATIVIDADE')
df_new.head()

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,descricao,total
133,5008305230829,5230829,4,500830,S,Três Lagoas,Mato Grosso do Sul,MS,CENTRO OESTE,-20.78490,-51.7007,2017,117477,POLICLINICA,8770.0
170,3105607457782,7457782,4,310560,S,Barbacena,Minas Gerais,MG,SUDESTE,-21.22140,-43.7703,2017,136689,POLICLINICA,8770.0
251,3303307383851,7383851,4,330330,S,Niterói,Rio de Janeiro,RJ,SUDESTE,-22.88320,-43.1034,2017,499028,POLICLINICA,8770.0
252,3303307384920,7384920,4,330330,S,Niterói,Rio de Janeiro,RJ,SUDESTE,-22.88320,-43.1034,2017,499028,POLICLINICA,8770.0
256,1302607389507,7389507,4,130260,S,Manaus,Amazonas,AM,NORTE,-3.11866,-60.0212,2017,2130264,POLICLINICA,8770.0

In [35]:
# Contanto e mapeando a rede de hospitais gerais por estado

In [36]:
hospital_geral = df_new[df_new['CO_ATIVIDADE'] == 5]  
hospital_geral.head(2)

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,descricao,total
4728,3304552296616,2296616,5,330455,S,Rio de Janeiro,Rio de Janeiro,RJ,SUDESTE,-22.9129,-43.2003,2017,6520266,HOSPITAL GERAL,5795.0
4969,3550302077485,2077485,5,355030,S,São Paulo,São Paulo,SP,SUDESTE,-23.5329,-46.6395,2017,12106920,HOSPITAL GERAL,5795.0

In [83]:
hospital_geral['CO_ATIVIDADE'].sum()

615

In [82]:
type('CO_CNES')

str

In [84]:
type('CO_ATIVIDADE')

str

In [38]:
hospital_geral.groupby('state')['CO_ATIVIDADE'].value_counts()

state                CO_ATIVIDADE
Amazonas             5                3
Bahia                5                5
Ceará                5                2
Distrito Federal     5                4
Mato Grosso          5                2
Mato Grosso do Sul   5                2
Minas Gerais         5               22
Paraná               5               15
Pará                 5                1
Pernambuco           5                1
Rio Grande do Norte  5                3
Rio Grande do Sul    5               12
Rio de Janeiro       5               11
Santa Catarina       5                4
São Paulo            5               36
Name: CO_ATIVIDADE, dtype: int64

In [41]:
hospital_geral['CO_ATIVIDADE'].sum()

615

In [39]:
hospital_geral.groupby('region')['CO_ATIVIDADE'].count()

region
CENTRO OESTE     8
NORDESTE        11
NORTE            4
SUDESTE         69
SUL             31
Name: CO_ATIVIDADE, dtype: int64

In [42]:
hosp_regiao = hospital_geral.groupby('region')['CO_ATIVIDADE'].value_counts()
hosp_regiao

region        CO_ATIVIDADE
CENTRO OESTE  5                8
NORDESTE      5               11
NORTE         5                4
SUDESTE       5               69
SUL           5               31
Name: CO_ATIVIDADE, dtype: int64

In [43]:
hospital = hospital_geral.groupby('state')['CO_ATIVIDADE'].value_counts()
hospital

state                CO_ATIVIDADE
Amazonas             5                3
Bahia                5                5
Ceará                5                2
Distrito Federal     5                4
Mato Grosso          5                2
Mato Grosso do Sul   5                2
Minas Gerais         5               22
Paraná               5               15
Pará                 5                1
Pernambuco           5                1
Rio Grande do Norte  5                3
Rio Grande do Sul    5               12
Rio de Janeiro       5               11
Santa Catarina       5                4
São Paulo            5               36
Name: CO_ATIVIDADE, dtype: int64

In [44]:
hospital.to_csv('hosp_geral.csv', header=True)

##### As unidades hospitales que segundo o Ministério da Saúde devem socorrer casos graves são 7511

In [45]:
# Verificando a qtd de leitos com o arquivo rlEstabComplementar201809.csv
# Vendo as colunas antes de abrir o arquivo

import csv
arquivo = open('rlEstabComplementar201809.csv', encoding='utf8')
leitor = csv.reader(arquivo)
print(next(leitor))

['CO_UNIDADE;"CO_LEITO";"CO_TIPO_LEITO";"TP_ALTACOMP";"QT_EXIST";"QT_CONTR";"QT_SUS";"TO_CHAR(DT_ATUALIZACAO', '\'DD/MM/YYYY\')";"CO_USUARIO";"TO_CHAR(DT_ATUALIZACAO_ORIGEM', '\'DD/MM/YYYY\')"']

In [46]:
leitos = pd.read_csv('rlEstabComplementar201809.csv', sep=';', encoding='utf8', low_memory=False, error_bad_lines=False, quotechar='"',
                     usecols=['CO_UNIDADE','CO_LEITO', 'QT_EXIST','QT_CONTR','QT_SUS'])
leitos.head()

      CO_UNIDADE  CO_LEITO  QT_EXIST  QT_CONTR  QT_SUS
0  5208006587518        32         1       NaN       0
1  5208006587518        42         1       NaN       0
2  5208006587518        45         1       NaN       0
3  5208006587518        48         1       NaN       0
4  3552202708566        81         9       NaN       0

In [49]:
leitos['QT_EXIST'].count()

54458

In [48]:
df_leitos = df_rede_brasil.join(leitos.set_index('CO_UNIDADE'), on='CO_UNIDADE')
df_leitos.head(3)

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,CO_LEITO,QT_EXIST,QT_CONTR,QT_SUS
133,5008305230829,5230829,4,500830,S,Três Lagoas,Mato Grosso do Sul,MS,CENTRO OESTE,-20.7849,-51.7007,2017,117477,NaN,NaN,NaN,NaN
170,3105607457782,7457782,4,310560,S,Barbacena,Minas Gerais,MG,SUDESTE,-21.2214,-43.7703,2017,136689,NaN,NaN,NaN,NaN
251,3303307383851,7383851,4,330330,S,Niterói,Rio de Janeiro,RJ,SUDESTE,-22.8832,-43.1034,2017,499028,33.0,1.0,NaN,0.0

In [50]:
df_leitos['CO_ATIVIDADE'].value_counts()

4    38766
3     3195
5     2431
1      359
2       56
Name: CO_ATIVIDADE, dtype: int64

In [51]:
df_leitos.groupby('region')['CO_LEITO'].count()

region
CENTRO OESTE     3434
NORDESTE         7618
NORTE            2909
SUDESTE         13093
SUL              6931
Name: CO_LEITO, dtype: int64

In [52]:
isolamento = df_leitos[df_leitos['CO_LEITO'] == 66.0]
isolamento.head(3)

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,CO_LEITO,QT_EXIST,QT_CONTR,QT_SUS
365,4312905230241,5230241,4,431290,S,Nova Bassano,Rio Grande do Sul,RS,SUL,-28.7291,-51.7072,2017,9599,66.0,1.0,NaN,1.0
422,3551007371349,7371349,4,355100,S,São Vicente,São Paulo,SP,SUDESTE,-23.9574,-46.3883,2017,360380,66.0,1.0,NaN,1.0
1853,4117705262011,5262011,4,411770,S,Palmeira,Paraná,PR,SUL,-25.4257,-50.0070,2017,34023,66.0,1.0,NaN,1.0

In [47]:
isolamento.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1281 entries, 365 to 364378
Data columns (total 17 columns):
CO_UNIDADE                1281 non-null object
CO_CNES                   1281 non-null int64
CO_ATIVIDADE              1281 non-null int64
code                      1281 non-null int64
TP_ESTAB_SEMPRE_ABERTO    1281 non-null object
city                      1281 non-null object
state                     1281 non-null object
abbreviation              1281 non-null object
region                    1281 non-null object
lat                       1281 non-null float64
long                      1281 non-null float64
year                      1281 non-null int64
population                1281 non-null int64
CO_LEITO                  1281 non-null float64
QT_EXIST                  1281 non-null float64
QT_CONTR                  2 non-null float64
QT_SUS                    1281 non-null float64
dtypes: float64(6), int64(5), object(6)
memory usage: 180.1+ KB

In [54]:
iso_regiao = isolamento.groupby('region')['QT_EXIST'].count()
iso_regiao

region
CENTRO OESTE    136
NORDESTE        271
NORTE           180
SUDESTE         441
SUL             253
Name: QT_EXIST, dtype: int64

In [55]:
isolamento['CO_LEITO'].count()

1281

In [56]:
#mapeando por região leitos de isolamento
isola = isolamento.groupby('region')['QT_EXIST'].count()
isola

region
CENTRO OESTE    136
NORDESTE        271
NORTE           180
SUDESTE         441
SUL             253
Name: QT_EXIST, dtype: int64

In [57]:
isola.to_csv('leitos_isolamento.csv', encoding='utf8', header=True)

In [58]:
uti = df_leitos[df_leitos['CO_LEITO'] == 74.0]
uti.head()

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,CO_LEITO,QT_EXIST,QT_CONTR,QT_SUS
636,2304407371985,7371985,4,230440,S,Fortaleza,Ceará,CE,NORDESTE,-3.71664,-38.5423,2017,2627482,74.0,7.0,NaN,0.0
1855,4118205248043,5248043,4,411820,S,Paranaguá,Paraná,PR,SUL,-25.51610,-48.5225,2017,152975,74.0,4.0,NaN,0.0
3061,3302405106702,5106702,4,330240,S,Macaé,Rio de Janeiro,RJ,SUDESTE,-22.37680,-41.7848,2017,244139,74.0,10.0,NaN,0.0
3912,4204202537788,2537788,3,420420,S,Chapecó,Santa Catarina,SC,SUL,-27.10040,-52.6152,2017,213279,74.0,6.0,NaN,6.0
4317,3513502078473,2078473,4,351350,S,Cubatão,São Paulo,SP,SUDESTE,-23.89110,-46.4240,2017,128748,74.0,4.0,NaN,0.0

In [59]:
uti.groupby('region')['CO_LEITO'].count()

region
CENTRO OESTE     17
NORDESTE         47
NORTE            25
SUDESTE         230
SUL              42
Name: CO_LEITO, dtype: int64

In [60]:
uti['CO_LEITO'].count()

361

In [61]:
uti.groupby('region')['QT_EXIST'].count()     #361 utis do tipo I

region
CENTRO OESTE     17
NORDESTE         47
NORTE            25
SUDESTE         230
SUL              42
Name: QT_EXIST, dtype: int64

In [63]:
leitos = df_leitos.groupby('state')['QT_SUS', 'QT_EXIST'].sum()
leitos

                      QT_SUS  QT_EXIST
state
Acre                  1372.0    1505.0
Alagoas               3520.0    4102.0
Amapá                 1077.0    1283.0
Amazonas              5426.0    6442.0
Bahia                19638.0   23596.0
Ceará                11821.0   15459.0
Distrito Federal      3560.0    6839.0
Espírito Santo        5324.0    7588.0
Goiás                 6304.0    8456.0
Maranhão              6025.0    6822.0
Mato Grosso           4928.0    6593.0
Mato Grosso do Sul    2929.0    4471.0
Minas Gerais         23921.0   34727.0
Paraná               18156.0   25531.0
Paraíba               3347.0    3715.0
Pará                  7324.0    9404.0
Pernambuco            6798.0    9464.0
Piauí                 2564.0    2956.0
Rio Grande do Norte   5869.0    7154.0
Rio Grande do Sul    18829.0   26964.0
Rio de Janeiro       19005.0   35431.0
Rondônia              3075.0    3913.0
Roraima               1061.0    1143.0
Santa Catarina        9115.0   12915.0
Sergipe               2080.0    2277.0
São Paulo            43915.0   77780.0
Tocantins              888.0    1275.0

In [65]:
leitos['QT_EXIST'].sum()

347805.0

In [66]:
leito_regiao = df_leitos.groupby('region')['QT_SUS', 'QT_EXIST'].sum()
leito_regiao

               QT_SUS  QT_EXIST
region
CENTRO OESTE  17721.0   26359.0
NORDESTE      61662.0   75545.0
NORTE         20223.0   24965.0
SUDESTE       92165.0  155526.0
SUL           46100.0   65410.0

In [67]:
leito_regiao['QT_EXIST'].sum()

347805.0

In [68]:
df_leitos['QT_SUS'].sum()

237871.0

In [69]:
df_leitos['QT_EXIST'].sum()   #347805.0

347805.0

In [70]:
uti2 = df_leitos[df_leitos['CO_LEITO'] == 75.0]
uti2.head()

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,CO_LEITO,QT_EXIST,QT_CONTR,QT_SUS
3061,3302405106702,5106702,4,330240,S,Macaé,Rio de Janeiro,RJ,SUDESTE,-22.3768,-41.7848,2017,244139,75.0,9.0,NaN,0.0
3268,3507607174446,7174446,4,350760,S,Bragança Paulista,São Paulo,SP,SUDESTE,-22.9527,-46.5419,2017,164163,75.0,3.0,NaN,0.0
3512,3302402697041,2697041,4,330240,S,Macaé,Rio de Janeiro,RJ,SUDESTE,-22.3768,-41.7848,2017,244139,75.0,18.0,NaN,6.0
3912,4204202537788,2537788,3,420420,S,Chapecó,Santa Catarina,SC,SUL,-27.1004,-52.6152,2017,213279,75.0,10.0,NaN,10.0
4317,3513502078473,2078473,4,351350,S,Cubatão,São Paulo,SP,SUDESTE,-23.8911,-46.4240,2017,128748,75.0,7.0,NaN,7.0

In [71]:
uti2['CO_LEITO'].count()

870

In [72]:
uti2.groupby('region')['QT_EXIST'].count()

region
CENTRO OESTE     71
NORDESTE        165
NORTE            46
SUDESTE         426
SUL             162
Name: QT_EXIST, dtype: int64

In [73]:
utis2 = uti2.groupby('state')['QT_EXIST'].count()     
utis2

state
Acre                     4
Alagoas                 12
Amapá                    1
Amazonas                14
Bahia                   52
Ceará                   32
Distrito Federal        17
Espírito Santo          29
Goiás                   21
Maranhão                 9
Mato Grosso             23
Mato Grosso do Sul      10
Minas Gerais           117
Paraná                  63
Paraíba                 10
Pará                    15
Pernambuco              17
Piauí                    9
Rio Grande do Norte     20
Rio Grande do Sul       63
Rio de Janeiro          87
Rondônia                10
Roraima                  1
Santa Catarina          36
Sergipe                  4
São Paulo              193
Tocantins                1
Name: QT_EXIST, dtype: int64

In [74]:
uti3 = df_leitos[df_leitos['CO_LEITO'] == 76.0]
uti3.head(2)

,CO_UNIDADE,CO_CNES,CO_ATIVIDADE,code,TP_ESTAB_SEMPRE_ABERTO,city,state,abbreviation,region,lat,long,year,population,CO_LEITO,QT_EXIST,QT_CONTR,QT_SUS
3268,3507607174446,7174446,4,350760,S,Bragança Paulista,São Paulo,SP,SUDESTE,-22.9527,-46.5419,2017,164163,76.0,3.0,NaN,0.0
3292,1501407486413,7486413,4,150140,S,Belém,Pará,PA,NORTE,-1.4554,-48.4898,2017,1452275,76.0,6.0,NaN,6.0

In [75]:
uti3['CO_LEITO'].count()

150

In [76]:
361 + 870 + 150

1381

In [77]:
uti3.groupby('region')['QT_EXIST'].count()

region
CENTRO OESTE    12
NORDESTE        13
NORTE            3
SUDESTE         89
SUL             33
Name: QT_EXIST, dtype: int64

In [79]:
tipo_leito = pd.read_csv('tbLeito201810.csv', sep=',', encoding='latin-1', low_memory=False, error_bad_lines=False)
tipo_leito.head()

   CO_LEITO            DS_LEITO  TP_LEITO
0         1  BUCO MAXILO FACIAL         1
1         2         CARDIOLOGIA         1
2         3      CIRURGIA GERAL         1
3         4      ENDOCRINOLOGIA         1
4         5   GASTROENTEROLOGIA         1

In [80]:
tipo_leito['DS_LEITO'].value_counts()

QUEIMADO ADULTO                                             2
CARDIOLOGIA                                                 2
GERIATRIA                                                   2
SAUDE MENTAL                                                2
AIDS                                                        2
QUEIMADO PEDIATRICO                                         2
ONCOLOGIA                                                   2
CIRURGIA GERAL                                              1
UTI NEONATAL - TIPO I                                       1
UTI PEDIATRICA - TIPO II                                    1
UTI NEONATAL - TIPO II                                      1
REABILITACAO                                                1
NEFROUROLOGIA                                               1
PEDIATRIA CIRURGICA                                         1
INTERCORRENCIA POS-TRANSPLANTE                              1
HEMATOLOGIA                                                 1
PEDIATRIA CLINICA                                           1
NEUROLOGIA                                                  1
FIBROSE CISTICA                                             1
NEONATOLOGIA                                                1
UTI PEDIATRICA - TIPO III                                   1
DERMATOLOGIA                                                1
OFTALMOLOGIA                                                1
UTI ADULTO - TIPO I                                         1
UTI CORONARIANA TIPO II - UCO TIPO II                       1
GASTROENTEROLOGIA                                           1
UNIDADE DE CUIDADOS INTERMEDIARIOS PEDIATRICO               1
CRONICOS                                                    1
UNIDADE INTERMEDIARIA NEONATAL                              1
ORTOPEDIATRAUMATOLOGIA                                      1
UTI CORONARIANA TIPO III - UCO TIPO III                     1
NEFROLOGIAUROLOGIA                                          1
UTI ADULTO - TIPO III                                       1
PSIQUIATRIA                                                 1
UNIDADE DE CUIDADOS INTERMEDIARIOS ADULTO                   1
UTI ADULTO - TIPO II                                        1
UNIDADE DE CUIDADOS INTERMEDIARIOS NEONATAL CONVENCIONAL    1
UTI NEONATAL - TIPO III                                     1
OBSTETRICIA CIRURGICA                                       1
NEUROCIRURGIA                                               1
CIRURGICO/DIAGNOSTICO/TERAPEUTICO                           1
UNIDADE DE CUIDADOS INTERMEDIARIOS NEONATAL CANGURU         1
TORACICA                                                    1
CLINICA GERAL                                               1
PNEUMOLOGIA SANITARIA                                       1
OTORRINOLARINGOLOGIA                                        1
PLASTICA                                                    1
HANSENOLOGIA                                                1
UNIDADE ISOLAMENTO                                          1
TRANSPLANTE                                                 1
PNEUMOLOGIA                                                 1
UNIDADE INTERMEDIARIA                                       1
ENDOCRINOLOGIA                                              1
BUCO MAXILO FACIAL                                          1
ACOLHIMENTO NOTURNO                                         1
UTI DE QUEIMADOS                                            1
OBSTETRICIA CLINICA                                         1
UTI PEDIATRICA - TIPO I                                     1
GINECOLOGIA                                                 1
Name: DS_LEITO, dtype: int64