In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('uti_tipo1.csv', sep=',',encoding='utf8' )
df

                state  QT_EXIST  QT_EXIST.1
0             Alagoas       6.0           2
1             Alagoas       7.0           2
2             Alagoas       9.0           1
3             Alagoas      10.0           1
4               Amapá       6.0           2
5               Amapá       4.0           1
6               Amapá       5.0           1
7            Amazonas       1.0           1
8            Amazonas       2.0           1
9            Amazonas       4.0           1
10           Amazonas       6.0           1
11           Amazonas       7.0           1
12           Amazonas       8.0           1
13           Amazonas      10.0           1
14           Amazonas      16.0           1
15           Amazonas      20.0           1
16              Bahia       9.0           1
17              Bahia      11.0           1
18              Ceará       4.0           3
19              Ceará       2.0           2
20              Ceará      10.0           2
21              Ceará       5.0           1
22              Ceará       6.0           1
23              Ceará       7.0           1
24              Ceará       8.0           1
25              Ceará       9.0           1
26              Ceará      22.0           1
27   Distrito Federal      12.0           1
28   Distrito Federal      17.0           1
29   Distrito Federal      18.0           1
..                ...       ...         ...
156         São Paulo       1.0           3
157         São Paulo      11.0           3
158         São Paulo      12.0           3
159         São Paulo      14.0           3
160         São Paulo      18.0           3
161         São Paulo      13.0           2
162         São Paulo      19.0           2
163         São Paulo      30.0           2
164         São Paulo      31.0           2
165         São Paulo      40.0           2
166         São Paulo      50.0           2
167         São Paulo       2.0           1
168         São Paulo      15.0           1
169         São Paulo      22.0           1
170         São Paulo      23.0           1
171         São Paulo      25.0           1
172         São Paulo      27.0           1
173         São Paulo      28.0           1
174         São Paulo      29.0           1
175         São Paulo      34.0           1
176         São Paulo      35.0           1
177         São Paulo      37.0           1
178         São Paulo      38.0           1
179         São Paulo      46.0           1
180         São Paulo      48.0           1
181         São Paulo      54.0           1
182         São Paulo      80.0           1
183         São Paulo      88.0           1
184         Tocantins       8.0           1
185         Tocantins      10.0           1

[186 rows x 3 columns]

In [3]:
df['QT_EXIST'].sum()

3086.0

In [4]:
df1 = pd.read_csv('uti2_qtd_city.csv',sep=',',encoding='utf8')
df1

                  state  QT_EXIST
0                  Acre         4
1               Alagoas        12
2                 Amapá         1
3              Amazonas        14
4                 Bahia        52
5                 Ceará        32
6      Distrito Federal        17
7        Espírito Santo        29
8                 Goiás        21
9              Maranhão         9
10          Mato Grosso        23
11   Mato Grosso do Sul        10
12         Minas Gerais       117
13               Paraná        63
14              Paraíba        10
15                 Pará        15
16           Pernambuco        17
17                Piauí         9
18  Rio Grande do Norte        20
19    Rio Grande do Sul        63
20       Rio de Janeiro        87
21             Rondônia        10
22              Roraima         1
23       Santa Catarina        36
24              Sergipe         4
25            São Paulo       193
26            Tocantins         1

In [5]:
df1['QT_EXIST'].sum()

870

In [6]:
df1.to_csv('uti2.csv',sep=',',encoding='utf8',header=True)

In [6]:
df2 = pd.read_csv('uti3_qtd_city.csv', sep=',',encoding='utf8')
df2

                  state  QT_EXIST
0               Alagoas      45.0
1                 Amapá      21.0
2              Amazonas      74.0
3                 Bahia      20.0
4                 Ceará      93.0
5      Distrito Federal     186.0
6        Espírito Santo      55.0
7                 Goiás      16.0
8              Maranhão      46.0
9           Mato Grosso      65.0
10   Mato Grosso do Sul      33.0
11         Minas Gerais     219.0
12               Paraná     218.0
13              Paraíba      20.0
14                 Pará      47.0
15           Pernambuco     157.0
16                Piauí      10.0
17  Rio Grande do Norte      74.0
18    Rio Grande do Sul      71.0
19       Rio de Janeiro    1421.0
20             Rondônia      19.0
21              Roraima       5.0
22       Santa Catarina      77.0
23              Sergipe      23.0
24            São Paulo    1886.0
25            Tocantins      18.0

In [7]:
df2['QT_EXIST'].sum()

4919.0

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
state       26 non-null object
QT_EXIST    26 non-null float64
dtypes: float64(1), object(1)
memory usage: 496.0+ bytes

In [9]:
df2['QT_EXIST'] = df2['QT_EXIST'].values.astype(np.int64)

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
state       26 non-null object
QT_EXIST    26 non-null int64
dtypes: int64(1), object(1)
memory usage: 496.0+ bytes

In [11]:
df2.to_csv('uti3.csv',sep=',',encoding='utf8',header=True)

In [11]:
utis = pd.read_csv('uti_total.csv',sep=',', encoding='utf8')
utis

,state,soma_uti,state.1,soma_utis1,state.2,soma_utis
0,Alagoas,4.0,Acre,4,Alagoas,45.0
1,Amapá,3.0,Alagoas,12,Amapá,21.0
2,Amazonas,9.0,Amapá,1,Amazonas,74.0
3,Bahia,2.0,Amazonas,14,Bahia,20.0
4,Ceará,9.0,Bahia,52,Ceará,93.0
5,Distrito Federal,7.0,Ceará,32,Distrito Federal,186.0
6,Espírito Santo,6.0,Distrito Federal,17,Espírito Santo,55.0
7,Goiás,2.0,Espírito Santo,29,Goiás,16.0
8,Maranhão,2.0,Goiás,21,Maranhão,46.0
9,Mato Grosso,2.0,Maranhão,9,Mato Grosso,65.0
10,Mato Grosso do Sul,4.0,Mato Grosso,23,Mato Grosso do Sul,33.0
11,Minas Gerais,12.0,Mato Grosso do Sul,10,Minas Gerais,219.0
12,Pará,6.0,Minas Gerais,117,Paraná,218.0
13,Paraíba,1.0,Pará,15,Paraíba,20.0
14,Paraná,11.0,Paraíba,10,Pará,47.0
15,Pernambuco,8.0,Paraná,63,Pernambuco,157.0
16,Piauí,2.0,Pernambuco,17,Piauí,10.0
17,Rio de Janeiro,33.0,Piauí,9,Rio Grande do Norte,74.0
18,Rio Grande do Norte,5.0,Rio de Janeiro,87,Rio Grande do Sul,71.0
19,Rio Grande do Sul,7.0,Rio Grande do Norte,20,Rio de Janeiro,1421.0
20,Rondônia,2.0,Rio Grande do Sul,63,Rondônia,19.0
21,Roraima,1.0,Rondônia,10,Roraima,5.0
22,Santa Catarina,6.0,Roraima,1,Santa Catarina,77.0
23,São Paulo,38.0,Santa Catarina,36,Sergipe,23.0
24,Sergipe,2.0,São Paulo,193,São Paulo,1886.0
25,Tocantins,2.0,Sergipe,4,Tocantins,18.0
26,NaN,NaN,Tocantins,1,NaN,NaN

In [12]:
utis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
state         26 non-null object
soma_uti      26 non-null float64
state.1       27 non-null object
soma_utis1    27 non-null int64
state.2       26 non-null object
soma_utis     26 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.3+ KB

In [13]:
utis['soma_uti'] = utis['soma_uti'].values.astype(np.int64)

In [14]:
utis['soma_utis'] = utis['soma_utis'].values.astype(np.int64)

In [15]:
utis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
state         26 non-null object
soma_uti      27 non-null int64
state.1       27 non-null object
soma_utis1    27 non-null int64
state.2       26 non-null object
soma_utis     27 non-null int64
dtypes: int64(3), object(3)
memory usage: 1.3+ KB

In [16]:
3086 + 870 + 4919

8875